@charset "UTF-8";
.header {
  background: #151515 url("../images/Baslangıc.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header .text-container {
  z-index: 10;
}

.header .roles {
  font-family: "lora-regular", serif;
}

.header .social {
  bottom: 50px;
}

.about-content {
  display: flex;
  flex-direction: column; /* İçeriği dikey hizalar */
  align-items: center; /* Tüm elemanları ortalar */
  text-align: center; /* Yazıyı ortalar */
}

.about-img {
  width: 230px; /* Fotoğrafın genişliğini artır */
  height: 230px; /* Oranları koruyarak yüksekliği artır */
  object-fit: cover; /* Fotoğrafın orantılı görünmesini sağlar */
  border: 5px solid #800404; /* Fotoğrafa çerçeve ekler (opsiyonel) */
}

.project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

.services {
  background: url("../images/bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.services::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.services .container {
  z-index: 10;
}

@media (max-width: 767px) {
  .header .social i {
    font-size: 30px;
  }
  .header .roles {
    font-size: 18px !important;
  }
  .about-content {
    flex-direction: column;
  }
  .stats .stat {
    border-right: 0 !important;
    margin-bottom: 40px;
    border-bottom: var(--bs-dark) solid 1px;
    padding-bottom: 20px;
  }
}
.social a[href="#"] {
  opacity: 0.7;
  pointer-events: none;
}

.use {
  border-bottom: 3px solid rgba(255, 0, 0, 0.5);
}

.reach {
  pointer-events: none;
  opacity: 0.5;
}

.proje {
  pointer-events: none;
}
